<form class="navbar-form navbar-search-form" action="/search" id="search-box" role="search"
      style="margin-top: {{ margin_top }}px">
    <div class="form-group" style="display:inline">
        <div class="input-group" style="display:table; max-width: 550px;">
            <span class="navbar-search-box">
                <input type="text" name="query" value="" class="form-control" autocomplete="off"
                       autocapitalize="off" autocorrect="off" placeholder=" Search..." style="padding-top: 15px;">
            </span>

            <span class="input-group-addon navbar-search-button" style="width:1%;">
                <button type="submit" id="navbar-submit" class="btn btn-default btn-simple btn-xs">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>